%tr
  %td
    %input.form-control(type="text" value="#{queue_item.position}")
  %td
    = link_to queue_item.video.title, queue_item.video
  %td
    = button_to "Play", nil, class: "btn btn-default"
  %td
    %select(name="")
      %option(value="#{queue_item.rating}" selected='selected') #{pluralize queue_item.rating, 'Star'}
      %option(value="5") 5 Stars
      %option(value="4") 4 Stars
      %option(value="3") 3 Stars
      %option(value="2") 2 Stars
      %option(value="1") 1 Star
  %td
    = link_to queue_item.category.name, queue_item.category
  %td
    = link_to queue_item, method: :delete do
      %i.glyphicon.glyphicon-remove
