%section.user.container
  .row
    .col-sm-10.col-sm-offset-1
      %article
        %header
          = image_tag gravatar_image_url(@user)
          %h2 #{@user.full_name}'s video collection (#{@user.queue_size})
          - if current_user.can_follow? @user
            = link_to 'Follow', user_follows_path(@user), method: :post, class: 'btn btn-default pull-right'

        %table.table
          %thead
            %tr
              %th(width="30%") Video Title
              %th(width="15%") Genre
          %tbody
            = render partial: 'users/queue_item', collection: @user.queue_items

%section.user_reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      %header
        %h3 #{@user.full_name}'s Reviews (#{@user.review_count})
      %ul
        = render partial: 'users/review', collection: @user.reviews
